
.nav-container {
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}


.nav {
  display:inline-block;
  margin-right: 20px;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav a:hover {
  background-color: #fff;
  color: #333;
}







p{
    color:#117864;
    background-color: #CACFD2 ;

}





body {
 
  background-image: url(matthew-henry-yETqkLnhsUI-unsplash\ \(1\).jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0; 
  padding: 0;
  font-family: Arial, sans-serif; 
}


.nav{
    display:inline-block;
}

#tips,#info{
    color: #CB4335;
}

.nav a:hover{
    color: red;

}

#energy_saving{
    height:300px;
   
}

header{
    background-color: #F0F0F0;
    text-align: center;
  }


  .image-container {
    position: relative;
    display: inline-block;
    margin-left: 1em;
   
  }
  .image-container img{
   
    width: 150vh;
    margin-left: 10em;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 56%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    font-size: 18px;
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
  }
  .survey-section{
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
  }
  #survey{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  #survey h1{
    text-align: center;
    display: inline;
    background-color:rgba(0, 0, 0, 0.6);
   
   
    color: white;

  }
  #survey span{
    background-color:rgba(0, 0, 0, 0.6);
    display: inline-block;
    width: fit-content;
    color: white;
    width:fit-content;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.benefits-section {
   
    color: #ffffff;
    padding: 50px;
    text-align: center;
  }
  

   .benefits-section {
   
   
   
   
   
    color: #ffffff;
   
    padding: 50px;
    text-align: center;
    margin-left: 7px;
  
   
   
  }
  
 


 
  .benefits-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
  }
  
 
  .benefits-content h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 0;
  }
  
 
  .benefits-content ul {
    list-style: none;
    padding: 0;
  }
  
  .benefits-content li {
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  
  Style the image container
  .image-container {
    margin-top: 20px;
  }
  
 
  #energy_saving {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
    

.at-home-section {
   
    padding: 30px;
    text-align: center;
  }
  
 
  .at-home-section h2 {
    font-size: 24px;
    text-transform: uppercase;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
  }

  
 
  .tips-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .tips-list li {
    width: 45%;
    margin: 10px;
    padding: 10px;
    text-align: center;
   
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tips-list img {
    width: 200px;;
    max-height: 200px;
    object-fit: cover;
  }
  
  .tips-list p {
    font-size: 16px;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
   
   
    width: fit-content;
    text-align: center;
    padding: 1em;
    margin-left: 5em;

  }

  .at-work-section {
   
    padding: 30px;
    text-align: center;
  }
  
 
  .at-work-section h2 {
    font-size: 24px;
    text-transform: uppercase;
    color:white;
    background-color: rgba(0, 0, 0, 0.6);

  }

 
.subscribe-container {
 
  padding: 20px;
  text-align:left;
}


.subscribe-container h2 {
  font-size: 24px;
  color: #333;
}


.subscribe-form {
  display: flex;
  justify-content:start;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.subscribe-form:hover{
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
 
}


.subscribe-form label {
  font-size: 16px;
  margin-right: 10px;
}

.subscribe-form input[type="email"] {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


.subscribe-form input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.subscribe-form input[type="submit"]:hover {
  background-color: #555;
}


.blog-section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
 
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 5);
}
.blog-section article{
  margin-bottom: 20px;
  padding: 20px;
 
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  transition: transform 0.2s ease-in-out;
  color: rgb(179, 174, 174);
}
.blog-section article:hover{
  color: #f42711;
}
.blog-section h1{
  text-decoration:solid;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width:max-content;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.hed:hover{
  color: #811d12;
  text-decoration: underline;
  
}



.blog-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.blog-item:hover {
  transform: scale(1.02);
}

.blog-item img {
  max-width: 100%;
  border-radius: 10px;
}

.blog-item h2 {
  font-size: 24px;
  margin: 10px 0;
}

.blog-item p {
  font-size: 18px;
  margin: 10px 0;
  color:#757575;
}

.blog-item a {
  display: block;
  text-align: right;
  font-weight: bold;
  color: #0078d4;
}

.blog-item a:hover {
  text-decoration: underline;
}


.blog-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transform: scale(1.05);
}

.survey-section {
  margin-bottom: 1em;
  margin-left: 1em;
}
.survey-section span{
 
  margin-left: 20em;
}

#survey-link {
  width: fit-content;
  display: inline;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 42em;
  
 
}
#calc{
  width: fit-content;
  display: inline;
  
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 35em;
  opacity: 0; 
  animation: fadeIn 2s ease-in-out forwards; 
}

#calc-link{
    width: fit-content;
    display: inline;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 35em;
    
}
#calc span{
  background-color:rgba(0, 0, 0, 0.6);
   
   
    color: white;
    width: fit-content;
   
    margin-left: 3em;

}
#calc h1{
  text-align: center;
 
  background-color:rgba(0, 0, 0, 0.6);
 
 
  color: white;
  margin-left: 1em;
  margin-right: 1em;
 

}

#survey-link:hover {
  background-color: #555;
}
#updates h2{
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  color: white;
  border-radius: 6px;
 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

